<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script
  		src="https://code.jquery.com/jquery-3.3.1.js"
 		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  		crossorigin="anonymous">
    </script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="/js/sidebar.js"></script>
    <!-- <script src="/js/table.js"></script> -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/customer.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

	<!--Navigation bar-->
	<div id="nav-placeholder">

	</div>

	<script>
	$(function(){
	  $("#nav-placeholder").load("/navbar-top.html");
	});
	</script>
	<!--end of Navigation bar-->
	
	<div class="c-page">
		<table id="datatable" class="display table table-striped table-bordered table-resizable">
			<thead>
		    	<tr id="table-head">
				</tr>
			</thead>
			<tbody id="table-body">
		 		<tr>
   				</tr>
  				</tbody>
			</table>
	</div>
	
	<div id="mySidenav" class="sidenav bg-primary">
		<a id="sideclose" href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a id="sideorder" href="javascript:void(0)" onclick="setUpOrderTable()">Open Orders</a>
		<a id="sidecredit" href="#">Credit</a>
		<a id="sideitem" href="javascript:void(0)" class="active"  onclick="setUpItemTable()">Items</a>
		<a id="sidecontact" href="#">Contact</a>
	</div>
</body>
<script>
var table = null;
var isOrders = true;

$(document).ready(function() {
	setUpItemTable();
});

function setUpItemTable() {
	
	$(".active").removeClass( "active" );
	$("#sideitem").addClass("active");
	
	if(table)
		table.destroy();
	
	$("#table-head").empty();
	
	$("#table-head").append(
			"<th>" +
    		"Item Number" +
   			"</th>" +
   			"<th>" +
    		"Customer Number" +
   			"</th>" +
   			"<th>" +
    		"Description" +
   			"</th>" +
   			'<th align="center">' +
    		"Price" +
   			"</th>" +
   			"<th>" +
    		"UOM" +
   			"</th>" +
   			'<th align="center">' +
    		"QOH" +
   			"</th>");
	
	table = 
		$('#datatable').DataTable( {
			processing: true,
			serverSide: true,
			searchDelay: 1000,
			ajax: { 
				url: "/customer/get-item-page",
				type: "POST",
		        "data": function(data) {
		            planify(data);
		            data.test = "test"
		        }
			},
			columns: [
				{data: "item_number"},
				{data: "itemalias_number"},
				{data: "item_descrip1"},
				{data: "item_listprice", render: $.fn.dataTable.render.number(',','.',4, '$')},
				{data: "item_uom"},
				{data: "item_qoh", render: $.fn.dataTable.render.number(',','.',2, '')}
			],
			columnDefs: [
				{
					targets: 3,
					className: 'dt-body-right'
				},
				{
					targets: 5,
					className: 'dt-body-right'
				}
			],
			"iDisplayLength": 30
		});
		
		$('#datatable_filter input').unbind();
		$('#datatable_filter input').bind('keyup', function(e) {
		if(e.keyCode == 13) {
			table.search(this.value).draw();	
		}
		});	
}

function setUpOrderTable() {
	
	$(".active").removeClass( "active" );
	$("#sideorder").addClass("active");
	
	if(table)
		table.destroy();
	
	$("#table-head").empty();
	
	$("#table-head").append(
			'<th>' +
			'<i class="fa">&#xf201;</i>'+
   			"</th>" +
			"<th>" +
    		"Sales Order" +
   			"</th>" +
   			"<th>" +
    		"Purchase Order" +
   			"</th>" +
   			"<th>" +
    		"Ordered" +
   			"</th>" +
   			"<th>" +
    		"OrderDate" +
   			"</th>" +
   			"<th>"+
   			"ShipTo"+
   			"</th>");
	
	table = 
		$('#datatable').DataTable( {
			processing: true,
			serverSide: true,
			searchDelay: 1000,
			ajax: { 
				url: "/customer/get-orders-page",
				type: "POST",
		        "data": function(data) {
		            planify(data);  
		        }
			},
			columns: [
				{
					"className": 'details-control',
					"orderable": false,
					"data": null,
					"defaultContent": '<i class="fa fa-plus-square-o" style="font-size:24px"></i>'
				},
				{data: "cohead_number"},
				{data: "cohead_custpo"},
				{data: "test"},
				{data: "cohead_orderdate"},
				{data: "cohead_shipto"}
			],
			"iDisplayLength": 30
		});
		
		$('#datatable_filter input').unbind();
		$('#datatable_filter input').bind('keyup', function(e) {
		if(e.keyCode == 13) {
			table.search(this.value).draw();	
		}
		});	
}

$('#datatable tbody').on('click', 'td.details-control', function () {
	if(!isOrders)
		return;
	
    var tr = $(this).closest('tr');
    var row = table.row( tr );

    if ( row.child.isShown() ) {
        // This row is already open - close it
        row.child.hide();
        tr.removeClass('shown');
    }
    else {
        
    	console.log(row.data())
        tr.addClass('shown');
        
    	$.post("/customer/orders/get-order-items",{"cohead_id" : row.data().DT_RowId.substring(4)},function(oidata) {
    		var children = '<table cellpadding="5" border ="0" width="100%">\n'
    		+"<tr> <th>Line Number</th> <th>Item#</th> <th>Scheduled Date</th> <th>Qty Ord</th> <th>Qty Shipped</th> <th>UOM</th></tr>";
    		for(var orderItem in oidata)
    		{
    			children += '<tr>\n'
    					  + '<td>' +oidata[orderItem].coitem_linenumber+ '</td>\n'
    					  + '<td>' +oidata[orderItem].coitem_item_nubmber+ '</td>\n'
    					  + '<td>' +oidata[orderItem].coitem_scheddate+ '</td>\n'
    					  + '<td align="right">' +oidata[orderItem].coitem_qtyord+ '</td>\n'
    					  + '<td align="right">' +oidata[orderItem].coitem_qtyshipped+ '</td>\n'
    					  + '<td align="center">' +oidata[orderItem].coitem_uom+ '</td>\n'
    					  + '<tr>\n';
    			
    		}
    		children += '</table>';
    		row.child(children).show();
    	});
    }
} );

function planify(data) {
    for (var i = 0; i < data.columns.length; i++) {
        column = data.columns[i];
        column.searchRegex = column.search.regex;
        column.searchValue = column.search.value;
        delete(column.search);
    }
    data.search.isPriced = "true";
}

</script>