<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script
  		src="https://code.jquery.com/jquery-3.3.1.js"
 		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  		crossorigin="anonymous">
    </script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="/js/sidebar.js"></script>
    <script src="/js/chartist.js"></script>
    <!-- <script src="/js/table.js"></script> -->
    <link rel="stylesheet" th:href="@{/css/chartist.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/customer.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

	<!--Navigation bar-->
	<div id="nav-placeholder">

	</div>

	<script>
	$(function(){
	  $("#nav-placeholder").load("/navbar-top.html");
	});
	</script>
	<!--end of Navigation bar-->
	
	<div class="c-page">
	    <div id="creditinfo" class="d-none" style="">
	    	<div style="float: left; padding-bottom: 20px">
	    		<table border="1">
	    			<tr>
	    				<th style="padding-right: 20px">Credit limit</th><td width="120px" id="tdcreditlimit"></td>
	    			</tr>
	    			<tr>
	    				<th style="padding-right: 20px">Open Invoices</th><td width="120px" id="tdopencredit"></td>
	    			</tr>
	    			<tr>
	    				<th style="padding-right: 20px">Overdue</th><td class="overdue" width="120px" id="tdoverdue"></td>
	    			</tr>
	    			<tr>
	    				<th style="padding-right: 20px">Remaining</th><td width="120px" id="tdremaining"></td>
	    			</tr>
	    		</table>
	    	</div>
	    	
	    	<div style="width: 390px;float: right; margin-bottom: -140px; margin-top: -20px;">
	    		<div style="float: left; margin-top: 55px">
	    			<table>
	    				<tr><th>Available:</th><td><div class="input-color"><div class="color-box" style="background-color: #118811;"></div></div></td></tr>
	    				<tr><th>Open:     </th><td><div class="input-color"><div class="color-box" style="background-color: #3333aa;"></div></div></td></tr>
	    				<tr><th>Overdue:  </th><td><div class="input-color"><div class="color-box" style="background-color: #d70206;"></div></div></td></tr>
	    			</table>
	    		</div>
	    		<div style="float: right">
	    			<div style="width: 250px; " class="ct-chart ct-square"></div>
	    		</div>
	    	</div>
	    </div>
		<table id="datatable" class="display table table-striped table-bordered table-resizable">
			<thead>
		    	<tr id="table-head">
				</tr>
			</thead>
			<tbody id="table-body">
		 		<tr>
   				</tr>
  				</tbody>
		</table>
	</div>
	
	<div id="mySidenav" class="sidenav bg-primary">
		<a id="sideclose" href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a id="sideorder" href="javascript:void(0)" onclick="setUpOrderTable()">Open Orders</a>
		<a id="sidecredit" href="javascript:void(0)" onclick="setUpCreditTable()">Credit</a>
		<a id="sideitem" href="javascript:void(0)" class="active"  onclick="setUpItemTable()">Items</a>
		<a id="sidecontact" href="#">Contact</a>
	</div>
</body>
<script>
var table = null;
var activetab = 0;

$(document).ready(function() {
	setUpItemTable();
});

function setUpCreditTable(){
	activetab = 2
	$("#creditinfo").removeClass("d-none")
	$(".active").removeClass( "active" );
	$("#sidecredit").addClass("active");
	
	var self = this;
	
	$.ajax({
		dataType: "json",
		method: "POST",
		url: "/customer/get-credit-info",
	}).done(function(creditData)
	{		  
		$('#tdcreditlimit').html('<span style="float : left">$</span><span style="float : right">'+creditData.creditlimit.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'</span>');
		$('#tdopencredit').html('<span style="float : left">$</span><span style="float : right">'+creditData.opencredit.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'</span>');
		$('#tdoverdue').html('<span style="float : left">$</span><span style="float : right">'+creditData.overdue.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'</span>');
		$('#tdremaining').html('<span style="float : left">$</span><span style="float : right">'+creditData.availablecredit.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'</span>');
		
	
		$(".overdue").removeClass( "overdue" );
		
		if(creditData.overdue > 100)
		{	
			$("#tdoverdue").addClass( "overdue" );
		}
		
		var avaper = Math.round(creditData.availablecredit/creditData.creditlimit*100)
		var openper = Math.round((creditData.opencredit-creditData.overdue)/creditData.creditlimit*100)
		var overper = Math.round(creditData.overdue/creditData.creditlimit*100)
		
		
		new Chartist.Pie('.ct-chart', {
			labels: [avaper+'%',openper+'%',overper+'%'],
			series: [creditData.availablecredit,creditData.opencredit-creditData.overdue,creditData.overdue]
		},{
			donut: true,
			donutWidth: 40,
			startAngle: 270,
			total: creditData.creditlimit * 2,
			showLabel: true
		});

	});
	
	
	
	if(table)
		table.destroy();
	
	$("#table-head").empty();
	
	$("#table-head").append(
			'<th>' +
			'<i class="fa">&#xf201;</i>'+
   			"</th>" +
			"<th>" +
			"Invoice Number" +
			"</th>"+
			'<th align="right">' +
			'Total ' +
			"</th>"+
			'<th align="right">' +
			"Amount paid" +
			"</th>"+
			'<th align="right">' +
			"Amount due" +
			"</th>"+
			'<th align="center">' +
			"Due Date" +
			"</th>");
	
	table = 
		$('#datatable').DataTable( {
			processing: true,
			serverSide: false,
			searchDelay: 1500,
			ajax: {
				url: "/customer/get-open-invoices",
				type: "POST",

			},
			columns:[
				{
					"className": 'details-control',
					"orderable": false,
					"data": null,
					"defaultContent": '<i class="fa fa-plus-square-o" style="font-size:24px"></i>'
				},
				{data: "invchead_invcnumber"},
				{data: "invc_total", render: $.fn.dataTable.render.number(',','.',2, '$'),className: 'text-right'},
				{data: "invc_paid", render: $.fn.dataTable.render.number(',','.',2, '$'),className: 'text-right'},
				{data: "invc_due", render: $.fn.dataTable.render.number(',','.',2, '$'),className: 'text-right'},
				{data: "invc_duedate",className: 'text-center'}
			],
			"iDisplayLength": 30
			
		})
		
	$('#datatable_filter input').unbind();
	$('#datatable_filter input').bind('keyup', function(e) {
	if(e.keyCode == 13) {
	table.search(this.value).draw();	
	}
	});	
}

function setUpItemTable() {
	
	$("#creditinfo").addClass("d-none")
	activetab = 3
	$(".active").removeClass( "active" );
	$("#sideitem").addClass("active");
	
	if(table)
		table.destroy();
	
	$("#table-head").empty();
	
	$("#table-head").append(
			"<th>" +
    		"Item Number" +
   			"</th>" +
   			"<th>" +
    		"Customer Number" +
   			"</th>" +
   			"<th>" +
    		"Description" +
   			"</th>" +
   			'<th align="center">' +
    		"Price" +
   			"</th>" +
   			"<th>" +
    		"UOM" +
   			"</th>" +
   			'<th align="center">' +
    		"QOH" +
   			"</th>");
	
	table = 
		$('#datatable').DataTable( {
			processing: true,
			serverSide: true,
			searchDelay: 1000,
			ajax: { 
				url: "/customer/get-item-page",
				type: "POST",
		        "data": function(data) {
		            planify(data);
		            data.test = "test"
		        }
			},
			columns: [
				{data: "item_number"},
				{data: "itemalias_number"},
				{data: "item_descrip1"},
				{data: "item_listprice", render: $.fn.dataTable.render.number(',','.',4, '$')},
				{data: "item_uom"},
				{data: "item_qoh", render: $.fn.dataTable.render.number(',','.',2, '')}
			],
			columnDefs: [
				{
					targets: 3,
					className: 'dt-body-right'
				},
				{
					targets: 5,
					className: 'dt-body-right'
				}
			],
			"iDisplayLength": 30
		});
		
		$('#datatable_filter input').unbind();
		$('#datatable_filter input').bind('keyup', function(e) {
		if(e.keyCode == 13) {
			table.search(this.value).draw();	
		}
		});	
}

function setUpOrderTable() {
	activetab = 1;
	$("#creditinfo").addClass("d-none")
	$(".active").removeClass( "active" );
	$("#sideorder").addClass("active");
	
	if(table)
		table.destroy();
	
	$("#table-head").empty();
	
	$("#table-head").append(
			'<th>' +
			'<i class="fa">&#xf201;</i>'+
   			"</th>" +
			"<th>" +
    		"Sales Order" +
   			"</th>" +
   			"<th>" +
    		"Purchase Order" +
   			"</th>" +
   			"<th>" +
    		"Ordered" +
   			"</th>" +
   			"<th>" +
    		"OrderDate" +
   			"</th>" +
   			"<th>"+
   			"ShipTo"+
   			"</th>");
	
	table = 
		$('#datatable').DataTable( {
			processing: true,
			serverSide: true,
			searchDelay: 1000,
			ajax: { 
				url: "/customer/get-orders-page",
				type: "POST",
		        "data": function(data) {
		            planify(data);  
		        }
			},
			columns: [
				{
					"className": 'details-control',
					"orderable": false,
					"data": null,
					"defaultContent": '<i class="fa fa-plus-square-o" style="font-size:24px"></i>'
				},
				{data: "cohead_number"},
				{data: "cohead_custpo"},
				{data: "test"},
				{data: "cohead_orderdate"},
				{data: "cohead_shipto"}
			],
			"iDisplayLength": 30
		});
		
		$('#datatable_filter input').unbind();
		$('#datatable_filter input').bind('keyup', function(e) {
		if(e.keyCode == 13) {
			table.search(this.value).draw();	
		}
		});	
}

$('#datatable tbody').on('click', 'td.details-control', function () {
	if(activetab == 2)
	{
	    var tr = $(this).closest('tr');
	    var row = table.row( tr );
	
	    if ( row.child.isShown() ) {
	        // This row is already open - close it
	        row.child.hide();
	        tr.removeClass('shown');
	    }
	    else {
	        tr.addClass('shown');
	        console.log(row.data())
	    	$.post("/customer/get-invoice-detail",{"invchead_invcnumber" : row.data().invchead_invcnumber},function(iidata) {
	    		var children = '<table cellpadding="5" border ="0" width="100%">\n'
	    		+'<tr> <th>Invoice</th> <th>Sales Order</th> <th>Purchase Order</th> <th>Item</th> <th>Cust Item</th> <th align="center">Billed</th> <th align="center">Price</th></tr>';
	    		for(var invcitem in iidata)
	    		{
	    			children += '<tr>\n'
	    					  + '<td>' +iidata[invcitem].invcnum+ '</td>\n'
	    					  + '<td>' +iidata[invcitem].sonum+ '</td>\n'
	    					  + '<td>' +iidata[invcitem].ponum+ '</td>\n'
	    					  + '<td>' +iidata[invcitem].itemnum+ '</td>\n'
	    					  + '<td>' +iidata[invcitem].aliasnum+ '</td>\n'
	    					  + '<td align="right">' +iidata[invcitem].billed+ '</td>\n'
	    					  + '<td align="right"><div style="float:left">$</div><div style="float:right">' +iidata[invcitem].price.toFixed(2)+ '</div></td>\n'
	    					  + '<tr>\n';
	    			
	    		}
	    		children += '</table>';
	    		row.child(children).show();
	    	});
	    }
	}
	if(activetab == 1)
	{
	    var tr = $(this).closest('tr');
	    var row = table.row( tr );
	
	    if ( row.child.isShown() ) {
	        // This row is already open - close it
	        row.child.hide();
	        tr.removeClass('shown');
	    }
	    else {
	        
	    	console.log(row.data())
	        tr.addClass('shown');
	        
	    	$.post("/customer/orders/get-order-items",{"cohead_id" : row.data().DT_RowId.substring(4)},function(oidata) {
	    		var children = '<table cellpadding="5" border ="0" width="100%">\n'
	    		+"<tr> <th>Line Number</th> <th>Item#</th> <th>Scheduled Date</th> <th>Qty Ord</th> <th>Qty Shipped</th> <th>UOM</th></tr>";
	    		for(var orderItem in oidata)
	    		{
	    			children += '<tr>\n'
	    					  + '<td>' +oidata[orderItem].coitem_linenumber+ '</td>\n'
	    					  + '<td>' +oidata[orderItem].coitem_item_nubmber+ '</td>\n'
	    					  + '<td>' +oidata[orderItem].coitem_scheddate+ '</td>\n'
	    					  + '<td align="right">' +oidata[orderItem].coitem_qtyord+ '</td>\n'
	    					  + '<td align="right">' +oidata[orderItem].coitem_qtyshipped+ '</td>\n'
	    					  + '<td align="center">' +oidata[orderItem].coitem_uom+ '</td>\n'
	    					  + '<tr>\n';
	    			
	    		}
	    		children += '</table>';
	    		row.child(children).show();
	    	});
	    }
	}
});

function planify(data) {
    for (var i = 0; i < data.columns.length; i++) {
        column = data.columns[i];
        column.searchRegex = column.search.regex;
        column.searchValue = column.search.value;
        delete(column.search);
    }
    data.search.isPriced = "true";
}

</script>