<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script
  		src="https://code.jquery.com/jquery-3.3.1.js"
 		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  		crossorigin="anonymous">
    </script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="/js/sidebar.js"></script>
    <script src="/js/chartist.js"></script>
    <script src="/js/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <!-- <script src="/js/table.js"></script> -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/customer.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <link rel="stylesheet" th:href="@{/css/chartist.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Employee Landing</title>
</head>

<body>

	<!--Navigation bar-->
	<div id="nav-placeholder">

	</div>

	<script>
	$(function(){
	  $("#nav-placeholder").load("/navbar-top.html");
	});
	</script>
	<!--end of Navigation bar-->
	
	<div class="c-page">
	<div class="d-print-none"><row><h6>Date-Fiter:</h6>
	     <col class="col-sm-1"><label>Start Time <input value="2020-01-17T06:00" onchange = "dateChange()" type="datetime-local" id="starttime"></label></col>
	     <col class="col-sm-1"><label>Stop Time <input value="2020-01-17T17:00" onchange = "dateChange()" type="datetime-local" id="stoptime"></label></col>
	    </row> </div>
	     <br>
		<table id="datatable" class="display table table-striped table-bordered table-resizable">
			<thead class='d-print-none'>
		    	<tr id="table-head">
				</tr>
			</thead>
			<tbody id="table-body">
		 		<tr>
   				</tr>
  			</tbody>
		</table>

	</div>
	
	<div id="mySidenav" class="sidenav bg-primary d-print-none">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="#" class="active">Production Monitors</a>
		<a href="#">Item List</a>
	</div>
</body>
<script>
var table = null;
var datapoints = [];
var lastRender = -1;


$(document).ready(function() {
	
	setUpMonitorTable()
	
});


function dateChange()
{
	if(lastRender != -1 && $("#starttime").val()<$("#stoptime").val())
	{	
		graphRender(lastRender)
	}
}

function graphRender(monId)
{	
	lastRender = monId;
	var blanks = genMinArray($("#starttime").val(),$("#stoptime").val());
//	for(var b in blanks)
//	{
//		datapoints.push({
//			x: blanks[b],
//			y: 0
//		});
//	}
	
	
	
}

function printChart(id)
{
	$("#prodmon"+id).removeClass("d-print-none");
	var svg = document.querySelector("#prodmon"+id+" SVG");
	console.log(svg);
	svg.style.width = "700px"
	window.print();
	svg.style.width = "100%"
	$("#prodmon"+id).addClass("d-print-none");
}

function parseChart(chartData,chid)
{
	var options = {
			axisX: {
				type: Chartist.FixedScaleAxis,
				onlyInteger: false,
				divisor: 12,
			    labelInterpolationFnc: function(value) {
			        return moment(value).format('hh:mm A');
			     }
			},
			showPoint: false,
			height: '300px',
			lineSmooth: Chartist.Interpolation.step({
				postpone: true,
				fillHoles: false
			})
	}
	
	var temp = [];
	datapoints = [];
	datapoints.push({
		x: new Date( $("#starttime").val()),
		y: 0
	});
	var rawdata = '<table width="90%">\n<tr>\n<th>Start</th>\n<th>Stop</th>\n<th>Produced</th>\n<th>Average</th>\n<th>Run Time</th>\n<th>Stop Time</th></tr>\n';
	var totalProduced = 0;
	var totalTime = 0;
	var totalAverage = 0;
	var totalStop= 0;
	for(var x = 0; x<chartData.length;x++)
	{
		var start_time = new Date(chartData[x].start_time);
		var stop_time = new Date(chartData[x].stop_time);
		temp.push(Math.round(start_time.getTime()/1000));
		rawdata += "<tr><td>"+moment(new Date(start_time)).format("hh:mm   MM/DD")+"</td><td>"+moment(new Date(stop_time)).format("hh:mm MM/DD")+"</td>"+
		"<td>"+(chartData[x].pieces)+"</td>"+
		"<td>"+(chartData[x].takt)+"</td>"+
		"<td>"+pad(parseInt((new Date(stop_time)-new Date(start_time))/1000/60/60))+":"+pad(Math.round(((new Date(stop_time)-new Date(start_time))/1000/60)%60))+"</td>";
		
		if(x<chartData.length-1)
		{
			totalStop+=(new Date(chartData[x+1].start_time) - new Date(chartData[x].stop_time))
			var downTime = (new Date(chartData[x+1].start_time) - new Date(chartData[x].stop_time))/1000
			rawdata+="<td>"+""+ pad((downTime/60/60) | 0)+":"+pad(Math.round((downTime/60)%60));+"</td>";
		}
		else
		{
			rawdata+="<td></td>";
		}
		rawdata+= "</tr>";
		
		totalTime += stop_time - start_time;
		totalProduced+=chartData[x].pieces;
		datapoints.push({
			x: start_time,
			y: chartData[x].takt
		});
		datapoints.push({
			x: stop_time,
			y: 0
		});
		
	}
	rawdata+="</table>"
		
	var blanks = genMinArray($("#starttime").val(),$("#stoptime").val());

	datapoints = datapoints.sort((a,b) => a.x.getTime() - b.x.getTime())
	
	new Chartist.Line("#chartContainer"+chid, {
		labels:[],
		series: [datapoints]
	},options);
    
	
	totalTime = totalTime / 1000;
	totalTimef = ""+ pad((totalTime/60/60) | 0)+":"+pad(Math.round((totalTime/60)%60));
	totalStop = totalStop / 1000;
	totalStopf = ""+ pad((totalStop/60/60) | 0)+":"+pad(Math.round((totalStop/60)%60));
	
	totalAverage = totalProduced/(totalTime/60);
	
	var effecency = Math.round((totalTime/(totalStop+totalTime))*1000)/10;

	
	$("#rawData"+chid).html(rawdata)
	$("#totals"+chid).html('<div><table width="90%"><tr><th>Total Produced</th>'+
								"<th>Total Runtime</th>"+
								"<th>Total Stoptime</th>"+
								"<th>Total Average</th>"+
								"<th>Effecency</th>"+
								"</tr><tr><td>"+totalProduced+"</td>"+
							"<td>"+totalTimef+"</td>"+
							"<td>"+totalStopf+"</td>"+
							"<td>"+(Math.round(totalAverage*100)/100)+"</td>"+
							"<td>"+effecency+"%</td> </tr></table></div>")
}


function pad(num) {
	var s = num+"";
	if(s.length < 2)
		s = "0" + s
	return s;
}

function setUpMonitorTable() {
	
	$("#table-head").empty();
	
	$("#table-head").append(
			"<th>" +
			'<i class="fa">&#xf201;</i>'+
   			"</th>" +
			"<th>" +
    		"Name" +
   			"</th>" +
   			"<th>" +
    		"Mac" +
   			"</th>"+
   			"<th>" +
    		"IP" +
   			"</th>");
	
	table = 
		$('#datatable').DataTable( {
			processing: true,
			serverSide: true,
			searchDelay: 1000,
			ajax: { 
				url: "/production/get-production-summary/all",
				type: "POST",
		        "data": function(data) {
		            planify(data);  
		        }
			},
			columns: [
				{
					"className": 'details-control',
					"orderable": false,
					"data": null,
					"defaultContent": '<i class="fa fa-plus-square-o" style="font-size:24px"></i>'
				},
				{data: "station_name"},
				{data: "station_mac"},
				{data: "station_ip"}
			],
			"iDisplayLength": 30
		});
		
		$('#datatable_filter input').unbind();
		$('#datatable_filter input').bind('keyup', function(e) {
		if(e.keyCode == 13) {
			table.search(this.value).draw();	
		}
		});	
}


$('#datatable tbody').on('click', 'td.details-control', function () {
	
    var tr = $(this).closest('tr');
    var row = table.row( tr );

    if ( row.child.isShown() ) {
        // This row is already open - close it
        row.child.hide();
        tr.removeClass('shown');
    }
    else {
        
    	tr.addClass('shown');
        
    	$.post("/production/get-monitor-data/"+row.id(),
    			{"start": $("#starttime").val().replace("T"," ")+":00",
    		     "stop": $("#stoptime").val().replace("T"," ")+":00"}, function(chartData)
    		     {
    		    	var childcontent = '<div class=">'+
    		    					   	 '<div class="d-print-none" align="right"><button onclick="printChart('+row.id()+')">Print</button><br><br></div>'+
    		    					   	 '<div class="d-print-none" id="prodmon'+row.id()+'">'+
    		    					   	   '<div id="totals'+row.id()+'"></div>'+
    		    					   	   '<div id = "chartContainer'+row.id()+'"></div>'+
    		    						   '<div id="rawData'+row.id()+'""></div>'+
    		    						 '</div>'+
    		    					   '</div>';
    		    		
    		    	row.child(childcontent).show();
    				parseChart(chartData,row.id())

    		     },'json');
    }
} );

function planify(data) {
    for (var i = 0; i < data.columns.length; i++) {
        column = data.columns[i];
        column.searchRegex = column.search.regex;
        column.searchValue = column.search.value;
        delete(column.search);
    }
    
}

function genMinArray(start,stop)
{
	var mils = new Date(stop).getTime()-new Date(start).getTime()
	var mins = Math.round(mils/60000)
	var minarry= []
	for(var x=1;x<=mins; x++)
	{
		var d = new Date(new Date(start).getTime()+(x*60000))
		minarry.push(d)
	}
	return minarry;
}


</script>
</html>